@media screen and (min-width: 767px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}

.left{
    float: none;
}

.width{
    float: none;
}

.header{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.left{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.width{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.right{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}