@media screen and (max-width: 767px) {
    .header{
        width: 300px;
    }
    
    .left{
        width: 100px;
        float: left;
    }

    .width{
        float: left;
    }
    
    .width1{
        width: 125px;
    }
    
    .width2{
        width: 125px;
    }
    
    .width3{
        width: 125px;
    }

    .right{
        width: 75px;
    }
    
    .footer{
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    .header{
        width: 150px;
    }
    
    .left{
        width: 150px;
        float: none;   
    }

    .width{
        float: none;    
    }
    
    .width1{
        width: 150px;
    }
    
    .width2{
        width: 150px;
    }
    
    .width3{
        width: 150px;
    }

    .right{
        width: 150px;
    }
    
    .footer{
        width: 150px;
    }
}