@media screen and (max-width: 767px) {
    .header{
        width: 300px;
    }
    
    .left{
        width: 100px;
        float: left;
    }

    .right{
        width: 200px;
        height: 150px;
    }

    .width1{
        width: 125px;
    }
    
    .width2{
        width: 125px;
    }
    
    .width3{
        width: 200px;
    }

    .footer{
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    .header{
        width: 150px;
    }
    
    .left{
        width: 150px;
        height: 100px;
        float: none;   
    }

    .right{
        width: 150px;
        height: 350px;
        float: none;    

    }
    
    .width1{
        width: 150px;
        height: 50px;
        position: relative;
        top: 100px;
    }
    
    .width2{
        width: 150px;
        height: 100px;
        position: relative;
        top: 100px;
    }
    
    .width3{
        width: 150px;
        height: 100px;
        position: relative;
        top: 100px;
    }
    
    .footer{
        width: 150px;
        height: 100px;
    }
}